.card {
    border: 1px solid var(--grey-card-border);
    border-radius: 14px;
    backdrop-filter: blur(30px);
    background: #000000;
    padding: 56px 40px 40px 40px;
    display: flex;
    width: 30%;
    flex-direction: column;
    transition: 0.3s;
    transition-timing-function: ease;
}

.card:hover {
    border: 1px solid #FF7A00;
}

.card:nth-child(2),
.card:nth-child(5),
.card:nth-child(8),
.card:nth-child(11) {
    transform: translateY(5%);
}

.card__icon {
    border-radius: 100%;
    background: rgba(217, 217, 217, 0.05);
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__title {
    font-weight: 500;
    font-size: var(--text-l);
    margin-top: 120px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.card__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card__list_item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.card__list_item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__list_item_text {
    font-weight: 300;
    font-size: var(--text-s);
    opacity: 0.5;
}

.card__btn {
    margin-top: auto;
}

@media screen and (max-width: 1000px) {
    .card{
        width: 45%;
        min-height: 650px;
    }
    .card__title {
        margin-top: 80px;
        margin-bottom: 20px;
        font-size: 27px;
        line-height: 133%;
    }
    .card__list_item_text {
        font-size: var(--text-s);
    }
    .card:nth-child(2),
    .card:nth-child(5),
    .card:nth-child(8),
    .card:nth-child(11) {
        transform: none;
    }
    .card:nth-child(2),
    .card:nth-child(4),
    .card:nth-child(6),
    .card:nth-child(8) {
        transform: translateY(5%);
    }

}

@media screen and (max-width: 768px) {
    .card {
        border: 1px solid var(--grey-card-border);
        border-radius: 24px;
        min-width: 385px;
        width: 100%;
        width: 90%;
        height: 491px;
        padding: var(--sides-padding);
    }

    .card__title {
        padding: 0 40px 0 0;

        margin: auto 0 24px;
        font-size: 36px;
        line-height: 133%;
    }

    .card__list_item_text {
        font-size: var(--text-l-mobile);
    }

    .card__btn {
        margin-top: 48px;
    }

    .card__list {
        margin-top: 0;
    }
}